* {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

html {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.05em;
  font-weight: 500;
  height: 100%;
  min-width: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.container {
  flex: 1;
  display: flex;
  height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.cal-container {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  width: 30%;
  height: auto;
  gap: 1px;
  flex-wrap: wrap;
}

.cal-output {
  text-align: end;
  background-color: grey;
  font-size: 2.5em;
  padding: 0.2em;
  color: white;
  overflow-x: auto;
  max-width: 100%;
}

.button-container {
  display: grid;
  grid-template-areas: "a a a a";
  gap: 1px;
}

.btn {
  height: 3em;
  border: none;
  font-weight: bold;
}

.grey {
  background-color: rgb(187, 187, 187);
}

.orange {
  background-color: orange;
}

.btn-zero {
  grid-column: 1 / span 2;
}
