@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

html {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.05em;
  font-weight: 500;
  height: 100%;
  min-width: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.container {
  flex: 1;
  display: flex;
  height: 100%;
  min-width: 100%;
  flex-direction: column;
}

.cal-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 60%;
  gap: 5px;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: rgb(80, 253, 195);
  padding: 1em;
}

.cal-output {
  line-height: 1.6em;
  text-align: end;
  background-color: black;
  max-height: 3em;
  font-size: 2.5em;
  padding: 0.2em;
  color: rgb(80, 253, 195);
  overflow-x: auto;
  max-width: 100%;
  flex: 1;
  box-shadow: 2px 2px 2px rgba(24, 24, 24, 0.425);
  border-radius: 5px;
}

.button-container {
  display: grid;
  flex: 4;
  grid-template-areas: "a a a a";
  gap: 5px;
}

.btn {
  height: 100%;
  border: none;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 2px 2px 2px rgba(24, 24, 24, 0.425);
  border-radius: 5px;
}

.grey {
  background-color: black;
  color: white;
}

.orange {
  background-color: white;
  color: black;
}

.wide {
  grid-column: 1 / span 2;
}

.homePage {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: rgb(80, 253, 195);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-weight: bolder;
  padding: 1em;
  font-size: 3.3em;
}

.paragraphs {
  font-size: 1.2em;
}

.quotePage {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: rgb(80, 253, 195);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(80, 253, 195);
  height: 6%;
  align-items: center;
}

.Logo {
  font-family: 'Press Start 2P', cursive;
  color: black;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: white;
}

.calculatorPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.05em;
  font-weight: 500;
  height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
}
